@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes slideInFromTop {
    0% {
        visibility: hidden;
        transform: translateY(-100%);
        background-color: rgba(0, 255, 174, 0.4);
    }
    100% {
        visibility: visible;
        transform: translateY(0);
        background-color: rgba(0, 255, 174, 0.15);
    }
}

@keyframes slideInFromLeft {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
        visibility: hidden;
        transform: translate(100%, -10px);
    }
    100% {
        background-color: white;
        visibility: visible;
        transform: translate(0px, -10px);
    }
}

@keyframes slideOutToLeft {
    0% {
        background-color: white;
        visibility: visible;
        transform: translate(0px, -10px);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.3);
        visibility: hidden;
        transform: translate(120%, -10px);
    }
}


.menu {
    display: none;
}

nav {
    animation: 0.5s ease-out 0.5s 1 slideInFromTop;
    animation-fill-mode: both;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 2px rgb(79, 79, 79, 0.8);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 80px;
    padding-right: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: rgb(46, 218, 218);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    color: rgb(120, 255, 255);
}

nav h1{
    box-sizing: border-box;
    color: rgb(42, 201, 201);
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 80px;
    margin: 0px;
    padding: 0 50px;
}

nav ul {
    float: right;
    list-style-type: none;
    line-height: 80px;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
}

nav ul li {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 10px;
    margin-left: 20px;
}

/* Portrait orientation CSS for mobile phones */

@media (orientation: portrait) {
    
    .hamburger {
        background-color: antiquewhite;
        border-radius: 10px;
        display: inline-block;
        height: 2px;
        transition: all 0.5s ease-in-out;
        vertical-align: middle;
        width: 25px;
    }

    .hamburger::before, .hamburger::after {
        background-color: white;
        border-radius: 10px;
        content: '';
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 25px;
    }
    
    .hamburger::after {
        transform: translateY(8px);
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger::before {
        transform: translateY(-8px);
        transition: all 0.3s ease-in-out;
    }

    .hamburger.open {
        background-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .hamburger.open::after {
        transform: rotate(-45deg);
        transition: all 0.5s ease-in-out;
    }

    .hamburger.open::before {
        transform: rotate(45deg);
        transition: all 0.5s ease-in-out;
    }

    .menu {
        display: inline-block;
        height: 60px;
        margin: auto 0px auto 80px;
        position: absolute;
        top: 0px;
    }

    nav {
        height: 60px;
        line-height: 60px;
        padding-right: 0px;
    }
    
    nav h1{
        font-size: 22px;
        line-height: 60px;
        padding: 0 20px;
    }
    
    nav a {
        color: rgb(40, 190, 190);
        font-size: 15px;
    }

    nav > ul {
        animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
        animation-fill-mode: both;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
        display: none;
        height: 80px;
        line-height: 40px;
        padding-bottom: 8px;
        width: 150px;
    }

    nav > ul.hide {
        animation: 0.3s ease-in-out 0s 1 slideOutToLeft;
        animation-fill-mode: both;
        display: inline-block;
    }

    nav > ul.show {
        animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
        animation-fill-mode: both;
        display: inline-block;
    }

}